/* ----- BASE ----- */
html {
    font-size: 16px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #444444;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
}
a {
    text-decoration: none;
    transition: 0.4s;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
.page-wrap {
    overflow: hidden;
}
.main-content {
    position: relative;
    z-index: 10;
}
.main-content::after {
    content: '';
    background-image: url(../img/footer-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    position: absolute;
    bottom: -5.5rem;
    width: 100%;
    height: 31.8125rem;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;
}
.main-content-player::after {
    background-image: url(../img/footer-image-2.svg);
    width: 74.7%;
    background-size: contain;
    bottom: 0;
    left: -1.2rem;
}
/* ----- /BASE ----- */
/*  */
/* ----- TYPOGRAPHY ----- */
h1 {
    font-size: 3.125rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: #285168;
    letter-spacing: -1px;
}
h3 {
    font-size: 2rem;
    line-height: 2.75rem;
    font-weight: 600;
    letter-spacing: 0.2px;
}
h4 {
    font-size: 1.625rem;
    line-height: 2.1875rem;
    font-weight: 600;
    color: #000000;
    letter-spacing: -0.5px;
}
h5 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
}
/* ----- /TYPOGRAPHY ----- */
/*  */
/* ----- BUTTONS ----- */
.btn {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.475rem 2.1rem;
    border-radius: 2rem;
}
.btn-outline-blue {
    color: #3D7EB1;
    border-color: #3D7EB1;
}
.btn-outline-blue:hover {
    color: #ffffff;
    background-color: #3D7EB1;
}
.btn-pink {
    color: #ffffff;
    border-color: #FB3466;
    background-color: #FB3466;
}
.btn-pink:hover {
    background-color: transparent;
    color: #FB3466;
}
.btn-outline-dark {
    border-width: 2px;
    border-color: #00709C;
    color: #00709C;
}
.btn-outline-dark:hover {
    color: #ffffff;
    background-color: #00709C;
    border-color: #00709C;
}
.btn-gradient {
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(180deg, #006E99 0%, #005274 110%);
    border: 0;
    padding: 0.8rem 2.1rem;
}
/* ----- /BUTTONS ----- */
/*  */
/* ----- HEADER ----- */
.header {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.header .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header .header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
}
.header .menu {
    display: flex;
    flex-wrap: wrap;
}
.header .menu li {
    font-weight: 500;
    margin-left: 1.5rem;
    letter-spacing: -0.1px;
}
.header .menu li.has-sub-menu > a::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5.33398L0 0.333984H10L5 5.33398Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 0.625rem;
    height: 0.375rem;
    background-size: contain;
    display: inline-block;
    vertical-align: 0.1rem;
    margin-left: 0.4rem;
}
.header .menu li:hover > a {
    color: #1a80b6;
}
.header .header-nav .buttons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5rem;
}
.header .header-nav .buttons .btn {
    margin-left: 0.6rem;
}
.header .header-nav .buttons .btn-outline-blue {
    padding: 0.475rem 1.65rem;
}
.header .header-nav .buttons .btn:first-child {
    margin-left: 0;
}
/* Header User */
.header-user .logo {
    width: 14.9rem;
}
.header-user .logo img {
    width: 100%;
}
.header-user {
    padding: 1.2rem 0;
    border: 0;
}
.header .user-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
}
.header .user-nav li {
    font-size: 0.75rem;
    font-weight: 500;
    margin-left: 0.6rem;
}
.header .user-nav li a::after {
    content: '';
    width: 1px;
    background-color: #D9D9D9;
    height: 1.625rem;
    display: inline-block;
    margin-left: 0.7rem;
}
.header .user-nav li:last-child a::after {
    display: none;
}
.header .user-nav a {
    color: #00709C;
    display: flex;
    align-items: center;
}
.header .user-nav a img {
    margin-right: 0.4rem;
    width: 1.4rem;
}
/* ----- /HEADER ----- */
/*  */
/* ----- SECTION MEMORY MUSIC ----- */
.section-memory-music {
    padding-top: 3.3rem;
    padding-bottom: 19.3rem;
}
.section-memory-music .title {
    text-align: center;
    margin-bottom: 2.4rem;
}
.section-memory-music .title img {
    display: block;
    margin: 0 auto 0.6rem;
}
.song-item {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    padding: 2rem 0;
    text-align: left;
}
.song-item .image-wrap {
    width: 8.75rem;
    height: 8.75rem;
    flex: 0 0 8.75rem;
    border-radius: 1rem;
    margin-right: 2rem;
    overflow: hidden;
    position: relative;
}
.song-item .image-wrap::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 5px solid #000000;
    border-radius: 1rem;
    inset: 0;
    z-index: 1;
    display: block;
}
.song-item .image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-item ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1.3rem;
}
.song-item ul li {
    color: rgb(0 0 0 / 60%);
    font-size: 1.125rem;
    line-height: 1.5625rem;
    letter-spacing: -0.3px;
    margin-right: 0.8rem;
}
.song-item ul li::after {
    content: '';
    background: #D9D9D9;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.8rem;
    vertical-align: 0.3rem;
}
.song-item ul li:last-child::after {
    display: none;
}
.song-item h4 {
    margin-bottom: 0.8125rem;
}
.song-item .play-btn {
    display: flex;
    align-items: center;
    color: #00709C;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    padding: 0 0.4rem;
    letter-spacing: -0.3px;
}
.song-item .play-btn:hover {
    color: #FB3466;
}
.song-item .play-btn svg path {
    transition: 0.4s;
}
.song-item .play-btn:hover svg path {
    fill: #FB3466;
}
.song-item .song-item-title {
    padding-top: 0.4rem;
}
.song-item .play-btn svg {
    flex: 0 0 0.8125rem;
    width: 0.8125rem;
    margin-right: 0.7rem;
}
.song-item .border-blue::before {
    border-color: #A3E7F3;
}
.song-item .border-beige::before {
    border-color: #F7BB90;
}
.song-item .border-yellow::before {
    border-color: #FFE786;
}
.song-item .border-grey::before {
    border-color: #9AA0A3;
}
.song-item .border-peach::before {
    border-color: #FFB0B5;
}
.song-item .border-purple::before {
    border-color: #C26CC3;
}
.section-memory-music .music-list {
    text-align: center;
}
.section-memory-music .music-list .btn-more {
    margin-top: 3.5rem;
    padding: 0.475rem 2.3rem;
}
/* ----- /SECTION MEMORY MUSIC ----- */
/*  */
/* ----- FOOTER ----- */
.footer {
    position: relative;
    z-index: 10;
    color: #ffffff;
    padding-top: 2.3rem;
    padding-bottom: 1.2rem;
    background-color: #282a2b;
}
.footer .footer-social {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.1rem;
    margin-bottom: 0.5rem;
}
.footer .footer-social a {
    margin-right: 0.3125rem;
    color: #918e8e;
}
.footer .footer-social a:hover {
    color: #ffffff;
}
.footer h5 {
    margin-bottom: 0.6rem;
}
.footer .footer-menu li {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 0.55rem;
    letter-spacing: -0.3px;
}
.footer .footer-menu li a {
    color: #918e8e;
}
.footer .download-links {
    display: flex;
    flex-wrap: wrap;
}
.footer .download-links a {
    flex: 0 0 6.9rem;
    max-width: 6.9rem;
    margin-right: 0.3rem;
}
.footer .download-links a:hover {
    opacity: 0.7;
}
.footer .footer-menu li:hover a {
    color: #ffffff;
}
.footer .copyright {
    text-align: center;
    margin-top: 0.1rem;
}
.footer .copyright p {
    margin-bottom: 0;
    color: #918e8e;
    font-size: 0.875rem;
    letter-spacing: -0.2px;
}
/* ----- /FOOTER ----- */
/*  */
/* ----- SECTION VIDEO ----- */
.section-video {
    padding-top: 1.8rem;
    text-align: center;
}
.section-video .container {
    position: relative;
    padding-bottom: 5rem;
}
.section-video .video-wrap {
    position: relative;
    background: linear-gradient(180deg, #006E99 0%, #005274 100%);
    border-radius: 1.875rem;
    margin-top: 2rem;
    padding: 2.6rem;
    margin-bottom: 3.5rem;
    max-height: 39rem;
}
.section-video .video-wrap .video-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -3.2rem;
}
.section-video .video-wrap .video-title h3 {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0 43 77 / 20%);
    margin-bottom: 0;
    color: #00709C;
    padding: 0.65rem 1.1rem;
    border-radius: 10rem;
}
.section-video .video-wrap video {
    border-radius: 0.75rem;
    width: 100%;
    height: 100%;
}
.section-video .video-wrap .play-btn {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 112, 156, 0.6);
    position: absolute;
    inset: 0;
    margin: auto;
    cursor: pointer;
}
.section-video h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.0625rem;
    letter-spacing: 0.1px;
    margin-bottom: 1.9rem;
}
.section-video .title {
    max-width: 35rem;
    margin: 0 auto;
}
.section-video .info-link {
    display: block;
    margin-top: 1.3rem;
}
.section-video .image {
    position: absolute;
    bottom: -1.3rem;
    right: -5.6%;
}
/* ----- /SECTION VIDEO ----- */
/*  */
/* ----- MEDIA ----- */
@media(max-width: 1199px) {
    .main-content::after {
        bottom: -12.5rem;
    }
    .main-content-player::after {
        bottom: 0;
        width: 100%;
        left: 0;
        background-size: cover;
        height: 27rem;
    }
    /* ----- HEADER ----- */
    .header .header-nav .buttons {
        margin-left: 1rem;
    }
    .header .menu li:first-child {
        margin-left: 0;
    }
    .header .menu li {
        margin-left: 1rem;
    }
    /* ----- /HEADER ----- */
    /*  */
    /* ----- SECTION MEMORY MUSIC ----- */
    .section-memory-music {
        padding-bottom: 13.3rem;
    }
    /* ----- /SECTION MEMORY MUSIC ----- */
    /*  */
    /* ----- SECTION VIDEO ----- */
    .section-video .image {
        width: 19rem;
        right: -2%;
    }
    /* ----- /SECTION VIDEO ----- */
    /*  */
}
@media(max-width: 991px) {
    body.overflow {
        overflow: hidden;
    }
    /* ----- HEADER ----- */
    .header .menu-btn {
        width: 1.5rem;
        height: 0.875rem;
        display: block;
        position: relative;
        margin-left: auto;
    }
    .header .menu-btn span {
        height: 0.125rem;
        width: 100%;
        display: block;
        background-color: #3D7EB1;
        margin-bottom: 0.25rem;
        transition: 0.4s;
    }
    .header .menu-btn span:last-child {
        margin-bottom: 0;
    }
    .header .header-nav {
        position: fixed;
        inset: 0;
        top: 4.625rem;
        flex-direction: column;
        background: #ffffff;
        z-index: 1000;
        justify-content: center;
        padding: 2rem 2rem;
        transform: translateX(100%);
        transition: 0.4s;
    }
    .header.menu-open .header-nav {
        transform: translateX(0);
    }
    .header .menu {
        text-align: left;
        flex-direction: column;
    }
    .header .menu li {
        margin: 0 auto 1.3rem;
    }
    .header .header-nav .buttons {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .header .header-nav .buttons .btn, 
    .header .header-nav .buttons .btn:first-child {
        margin: 0 auto 1rem;
    }
    .header.menu-open .menu-btn span {
        position: absolute;
        transform: rotate(45deg);
        top: 0.4rem;
    }
    .header.menu-open .menu-btn span:last-child {
        transform: rotate(-45deg);
    }
    .header.menu-open .menu-btn span:nth-child(2) {
        display: none;
    }
    /* ----- /HEADER ----- */
    /*  */
    /* ----- SECTION MEMORY MUSIC ----- */
    .section-memory-music {
        padding-bottom: 10rem;
    }
    /* ----- /SECTION MEMORY MUSIC ----- */
    /*  */
    /* ----- FOOTER ----- */
    .footer .footer-menu {
        margin-bottom: 2rem;
    }
    .footer::before {
        top: -16.2rem;
    }
    /* ----- /FOOTER ----- */
    /*  */
    /* ----- SECTION VIDEO ----- */
    .section-video .video-wrap {
        padding: 2rem;
    }
    /* ----- /SECTION VIDEO ----- */
    /*  */
}
@media(max-width: 767px) {
    h1 {
        font-size: 2rem;
        line-height: 2.375rem;
    }
    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    h4 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    /* ----- HEADER ----- */
    /* Header User */
    .header-user .logo {
        width: 9.7rem;
    }
    /* ----- /HEADER ----- */
    /*  */
    /* ----- SECTION MEMORY MUSIC ----- */
    .section-memory-music .title img {
        max-width: 7rem;
    }
    .song-item ul li {
        font-size: 0.875rem;
        line-height: 1.125rem;
    }
    .song-item ul li::after {
        vertical-align: 0.1rem;
    }
    .song-item .play-btn {
        font-size: 1rem;
        justify-content: center;
    }
    .song-item .play-btn svg {
        flex: 0 0 0.625rem;
        max-width: 0.625rem;
        margin-right: 0.3rem;
    }
    .song-item ul {
        margin-bottom: 0.625rem;
        justify-content: center;
    }
    .song-item h4 {
        margin-bottom: 0.625rem;
    }
    .song-item .image-wrap {
        margin: 0 auto;
    }
    .song-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /* ----- /SECTION MEMORY MUSIC ----- */
    /*  */
    /* ----- FOOTER ----- */
    .footer .copyright {
        margin-top: 2rem;
    }
    /* ----- /FOOTER ----- */
    /*  */
    /* ----- SECTION VIDEO ----- */
    .section-video {
        padding-top: 3rem;
    }
    .section-video .video-wrap .play-btn {
        width: 4rem;
        height: 4rem;
    }
    .section-video .video-wrap .play-btn svg {
        width: 2rem;
    }
    .section-video .video-wrap {
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 2.5rem;
    }
    .section-video .video-wrap .video-title h3 {
        padding: 0.25rem 0.75rem;
    }
    .section-video .video-wrap .video-title {
        top: -2.1rem;
    }
    .section-video h4 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .section-video .image {
        width: 10rem;
        right: 0;
    }
    .section-video .container {
        padding-bottom: 7rem;
    }
    /* ----- /SECTION VIDEO ----- */
    /*  */
}
/* ----- /MEDIA ----- */
/*  */